@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");

.Details {
  font-family: "Kdam Thmor Pro", sans-serif;
  position: absolute;
  display: block;
  padding: 0;
  margin-top: 3%;
  width: 100%;
  height: 100%;
  padding-top: 3%;
  background-size: cover;
}

.OfertaD {
  width: 95%;
  padding-left: 5%;
}
.OfertaD:hover {
  transform: scale(1.02);
  transition: all 0.3s;
}
.overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background-color: rgba(0, 0, 0, 0.3); /* Color oscuro con opacidad */
}
