.AdvertisingHandlerContainer{
    color: white;
    display: flex;
    position: relative;
    width: 25%;
    height: 28%;
    top:-76%;
    right:-70%;
   
    border-radius: 3%;

}

.optionContainer{
    position: relative;
    box-sizing: content-box;
    border-right: 5%;
    width: 100%;
    height: 100%;
    background-color:#0e3c5d;
    color: white;
    border-radius: 3%;
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}
.DETALLESH1{
    z-index: 4;
    position: absolute;
    height: 20%;
    top: 0%;
    border-radius: 2%;
    width: 100%;
    text-align: center;
    font-size: 150%;
    color: white;
    background-color: #06b0ff;
}