body {
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(fondop.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 
    color: white;
}


.nav {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98.8vw;
}

.nav h1 {
    color: black;
    padding-left: 100px;
    text-decoration: none;
}

.nav a {
    text-decoration: none;
}

.nav ul {
    margin-right: 100px;
    display: flex;
    width: 500px;
    justify-content: space-between;
    list-style-type: none;
}

.nav ul a {
    color: black;
    text-decoration: none;
    font-size: 25px;
}

.centerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gamesContainer {
    display: grid;
    grid-template-columns: repeat(4, 220px);
    gap: 50px;
    justify-content: center;
    margin-bottom: 100px;
}

.gamesContainer .gameCard {
    color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    cursor: pointer;
    transition: .5s;
    opacity: .7;
}

.gamesContainer .gameCard:hover {
    opacity: 1;
    transform: perspective(1000px) rotateY(-8deg);
}

.gamesContainer .imgGame {
    width: 220px;
    margin-left: -2px;
    border-radius: 4px;
    height: 235px;
}

.tittle {
    margin-top: 50px;
    color: white;
    margin-bottom: 50px;
}


.postD {
    margin-top: 20px;
    border: solid 1px white;
    padding: 15px;
}

.postD a {
    text-decoration: none;
    color: #108554;
}

.filterAndOrder {
    display: flex;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;
}

.filterAndOrder select {
    margin-left: -70px;
    height: 20px;
}

.gameCard h4 {
    font-size: 15px;
    margin-top: 5px;
}

.gameCard p {
    margin-top: -15px;
}

.gameCard .precioGame {
    color: rgb(12, 192, 57);
    font-size: 12px;
    margin-left: 70px;
}   