/* @import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
.sectionCard{
    position: relative;
    border-radius: 2.5%;
    background-color: rgb(246, 105, 0);;
    justify-content: center;
    text-align: center;
    font-family: "Kdam Thmor Pro", sans-serif;
    position: relative;
    margin-top:5%;
    margin-left: 5%;
   width: 100%;  
   transition: all 0.5s ease;

}
.imgCard {
    border-radius: 2%;
    width: 100%;
    transition: transform 0.3s ease, width 0.3s ease;
}
 .sectionCard:hover{
    border: 5px solid rgb(246, 105, 0);
    transform: scale(1.05) ;
    transition: all .3s;
}

.cardTex{
    color: aliceblue;
   font-size: 1.2em;
}
.imgCardOro{
    position: absolute;
    top: 1%;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.cosito{
    font-size: 2em;
    left: 50%;
    width: 0%;
    position: absolute;
    top: 40%; 
    color: aliceblue;
    opacity: 0;
    background-color: rgb(246, 105, 0) ;
    height: 10%;
    transition: all 0.5s ;
}
.sectionCard:hover .cosito{
    left: 0%;
    width: 100%;
    opacity: 1;

}
.gridCards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
} */

.gridCards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-left: -50px;
    margin-bottom: 100px;
}

.cardGame {
    width: 220px;
    margin-bottom: 50px;
    cursor: pointer;
    opacity: .7;
    transition: .3s;
}

.cardGame:hover {
    transform: perspective(1000px) rotateY(-8deg);
    opacity: 1;
}

.cardGame img {
    width: 218px;
    height: 218px;
    border-radius: 2px;
}

.cardGame .spans {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 5px;
}

.cardGame .spans .precio {
    color: #00b502;
}

/* .cardGame button {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    background-color: #0399b7;
    color: white;
    transition: .3s;
}

.cardGame button:hover {
    background-color: #005b6d;
} */