/* @import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
.sectionCard{
    position: relative;
    border-radius: 2.5%;
    background-color: rgb(246, 105, 0);;
    justify-content: center;
    text-align: center;
    font-family: "Kdam Thmor Pro", sans-serif;
    position: relative;
    margin-top:5%;
    margin-left: 5%;
   width: 100%;  
   transition: all 0.5s ease;

}
.imgCard {
    border-radius: 2%;
    width: 100%;
    transition: transform 0.3s ease, width 0.3s ease;
}
 .sectionCard:hover{
    border: 5px solid rgb(246, 105, 0);
    transform: scale(1.05) ;
    transition: all .3s;
}

.cardTex{
    color: aliceblue;
   font-size: 1.2em;
}
.imgCardOro{
    position: absolute;
    top: 1%;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.cosito{
    font-size: 2em;
    left: 50%;
    width: 0%;
    position: absolute;
    top: 40%; 
    color: aliceblue;
    opacity: 0;
    background-color: rgb(246, 105, 0) ;
    height: 10%;
    transition: all 0.5s ;
}
.sectionCard:hover .cosito{
    left: 0%;
    width: 100%;
    opacity: 1;

}
.gridCards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
} */

@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");

*{
  font-family: "Kdam Thmor Pro", sans-serif;
}

.gridCards {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 1%;
    margin-left: 0%;
}

.cardGame {
    width: 100%;
    height: 95%;
    margin-bottom: 10%;
    cursor: pointer;
    opacity: 1;
    transition: .3s;
}

.cardGame:hover {
    transform: perspective(1000px) rotateY(-16deg);
    opacity: 1;
}

.cardGame img {
    width: 100%;
    height: 320px;
    border-radius: 5px;
    
}

.cardGame .spans {
    display: flex;
    justify-content: space-between;
    font-size: 80%;
    margin-top: 2%;
}

.cardGame .spans .precio {
    color: #00b502;
    
}

/* .cardGame button {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    background-color: #0399b7;
    color: white;
    transition: .3s;
}

.cardGame button:hover {
    background-color: #005b6d;
} */

.default {
    width: 100%;
    position: relative;
    overflow: visible;
}

.notFound {
    background-image: url(gifTest.gif);
    background-position: center;
    background-size: cover;
    width: 200px;
    border-radius: 3px;
    height: 200px;
    margin: auto;
    margin-left: 245%;
    margin-top: 20%;
}
.cardGame{
    border-radius: 6px;
}

.notFound h1 {
    text-align: center;
    margin-top: -30%;
    width: 300%;
    margin-left: -100%;
}