.SearchBar-Container{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 40px;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
}
.containerN{
    width: 40%;
    display: flex;
    flex-direction: row;
}
.SearchBar-input{
    position: relative;
    width: 100%
}
.SearchBar-input input{
    color :#111;
    position: relative;
    width: 100%;
    height: 40px;
    padding: 11px 40px 11px 15px;
    border: none;
    border-radius: 3px 0px 0px 3px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 1px;
    font-size: 14px;
    outline: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.SearchIconContainer{
    display: flex;
    background-color: #F66900;
    height: 40px;
    width: 60px;
    border-radius: 0px 3px 3px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1px;
}
.SearchIconContainer:hover{
    background-color: #EF5F00;
}
.prueba{
    margin-top: 20%;
    width: 400px;
    height: 600px;
    background-color: blue;
    transition: all 0.3ms;
}
@media (max-width: 1280px) {
    .SearchBar-Container {
        margin-top: 10px; 
        height: 40px;
    }
    .SearchBar-input input{
        width: 100%;
        height: 40px;
    }
}
