.offertsGrid {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
    margin-top: 150px;
    gap: 60px;
    margin-bottom: 150px;
}

.offertsGrid .imgOffert {
    width: 350px;
    height: 430px;
    border-radius: 1px;
    cursor: pointer;
    transition: .3s;
    position: relative; /* Agregado para permitir el posicionamiento absoluto de los hijos */
}

.offertsGrid img {
    opacity: .7;
    transition: .3s;
    width: 350px;
    height: 400px;
}

.offertsGrid img:hover {
    transform: scale(1.01);
    opacity: 1;
}

.offertDetail {
    display: flex;
    background-color: #333;
    width: 100%; /* Cambiado a 100% para que ocupe todo el ancho del contenedor padre */
    position: absolute; /* Agregado para permitir el posicionamiento en la parte superior de la imagen */
    top: 0; /* Agregado para posicionar en la parte superior de la imagen */
    justify-content: space-between;
}

.offertDetail span {
    padding: 3px 0px;
    font-size: 13px;
    text-align: center;
}

.offertDetail .offert {
    background-color: #3ddbe6;
    padding: 3px 7px;
    color: black;
}

.offertDetail .price {
    text-decoration: line-through;
    color: #888;
}

.offertDetail .priceOffert {
    padding-right: 10px;
}
