.infoDJ{
    position: relative;
    left: 10%;
    top:30%;
    width: 80%;
    height: 67%;
   text-align: center;
   justify-content: center;
   flex-direction: column;
   align-items: center;
    overflow: hidden;
    font-size: 80%;
    transition: all .3s ease;
    color: white;
   
}
.infoIcoDj{
    position: relative;
    width: 100%;
    height: 50%;
    overflow: hidden;
    padding-bottom: 5%;
    color: white;
}

.infoDJ:hover{
    transform: scale(1.1);
    border-bottom: 6px solid #06b0ff;

    color: white;
    
}