@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");


.emptyCartContainer {
    font-family: "Kdam Thmor Pro", sans-serif;
    width: 40%;
    text-align: center;
    margin: 0 auto;
    margin-top: 10%;
}

.bagFill {
    font-family: "Kdam Thmor Pro", sans-serif;
    font-size: 1000%;
    color: #ccc;
}

.emptyCartContainer p {
    font-family: "Kdam Thmor Pro", sans-serif;
    margin-top: -10%;
}

.emptyCartButton {
    font-family: "Kdam Thmor Pro", sans-serif;
    width: 80%;
    border: none;
    padding: 15px 0;
    background-color:  #cc780a;
    border-radius: 2px;
    margin-top: 5%;
    cursor: pointer;
    transition: .3s;
}

.emptyCartButton:hover {
    background-color: #ff8801;
}

