@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");

* {
    font-family: "Kdam Thmor Pro";
}

.formRegister {
    background: #222;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    position: relative;
    width: 40%;
    height: auto;
    border-radius: 2px;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    
}


.formRegister p {
    font-size: 35px;
    padding: 20px 0;
    text-align: center;
    color: white;
    cursor: pointer;
}

.formRegister .msjToRender {
    color:#229c00;
    margin-top: -5%;
    letter-spacing: 1.5px;
    height: 10px;
    width: 40%;
    margin-left: 30%;
    text-align: center;
    font-size: 12px;
}
.formRegister .msjToRender :hover{
    
    color: #229c00;
}
.formRegister button {
    background-color: #174a62;
    border: none;
    padding: 8px 25px;
    width: 30%;
    margin-left: 35%;    
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;
    cursor: pointer;
    border-radius: 2px;
    border: solid 1px #174a62;
    transition: .3s;
}

.formRegister button:hover {
    background-color: #143c50;
}

.formRegister button[disabled] {
    background-color: #555;
    color: #888;
    border: solid 1px #888;
    cursor: no-drop;
}

.formRegister button[disabled]:hover {
    background-color: #555;
    color: #888;
    border: solid 1px #888;
    cursor: no-drop;
}
.containerform{
    display: flex;
}
.camposUno {
    width: 80%;
    margin: 0 auto;
}

.camposUno input {
    width: 70%;
    margin: 0 auto;
    margin-left: 14.85%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 10px 20px;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #174a62;
    transition: .3s;
}

.camposUno input:focus {
    border-bottom: solid 1px #24c7ec;
}

.camposUno input::placeholder {
    color: #eee;
}

.camposDos {
    width: 80%;
    margin: 0 auto;
}

.camposDos input {
    width: 70%;
    margin: 0 auto;
    margin-left: 14.85%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 10px 20px;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #174a62;
    transition: .3s;
}

.camposDos input:focus {
    border-bottom: solid 1px #24c7ec;
}

.camposDos input::placeholder {
    color: #eee;
}
.containernsjToRender{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    width: 100%;
}

.containerCreateUser{
    margin: 20px;
}